PORT=3000
VOTER_SALT=change-me
# Opção 1 (recomendado em cloud): Postgres
# DATABASE_URL=postgres://user:pass@host:5432/dbname
# PG_SSL=true
# PG_SSL_REJECT_UNAUTHORIZED=false

# Opção 2 (SQLite): para persistir precisa de volume (ex: montado em /data)
DB_PATH=/data/data.db
UPLOADS_DIR=/data/uploads
# Só ative em produção HTTPS:
COOKIE_SECURE=true
DATABASE_HOST=ep-plain-sound-ag9iwgtz.c-2.eu-central-1.pg.koyeb.app
DATABASE_USER=DATABASE_URL
DATABASE_PASSWORD=npg_HKIBTWn7R4Fa
DATABASE_NAME=koyebdb