PORT=3000
VOTER_SALT=change-me
# Opção 1 (recomendado em cloud): Postgres
# DATABASE_URL=postgres://user:pass@host:5432/dbname
# PG_SSL=true
# PG_SSL_REJECT_UNAUTHORIZED=true

# Opção 2 (SQLite): para persistir precisa de volume (ex: montado em /data)
DB_PATH=/data/data.db
UPLOADS_DIR=/data/uploads
# Só ative em produção HTTPS:
COOKIE_SECURE=true
